<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://func-freeboard-westeu-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/ef1961fb-92fc-47fb-aca5-87048f5d9aba/resourceGroups/rg-freeboard-westeu-01/providers/Microsoft.Web/sites/func-freeboard-westeu-01</ResourceId>
    <UserName>$func-freeboard-westeu-01</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://func-freeboard-westeu-01.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>